body {
	margin: 0 auto;
	padding: 0;
	font-family: "Noto Sans KR", "Segoe UI", "Roboto", sans-serif;
}

#root {
	min-height: 100vh;
	position: relative;
	margin: 0 auto;
	padding: 0;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
	margin: 0;
}
